div {
    float: left;
    width: 400px;
    height: 400px;
    border: 1px;
    border-style: solid;
    border-color: black;
    background: hsla(0,100%,30%, 0.7);
}
/*Hue Sataration Lightness, Alpha(Opacity) */

#Rounded {
    border-radius: 50%;
    /* 
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px */
}

#Box {
    height: 200px;
    width: 300px;
    border: 10px;
    border-style: solid;
    border-color: chartreuse;
    box-sizing: border-box;
}

#Grad {
    width: 500px;
    height: 300px;
    border: 2px;
    border-style: solid;
    border-color: black;
    background: repeating-linear-gradient(to left top, red, blue, cyan, yellow );
}